.room{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.room p{
   color:#ac8b8bd8;
    width: 400px;
}
.room2{
    padding: 20px;
    
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
input[type=fullname]{
    width: 100%;
    height: 50px;
    
    border: 2px, solid #aaa;
    border: 4px;
    outline: none;
    padding: 8px 16px;
    box-sizing: border-box;
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
    
}
input[type=fullname]{
    width: 100%;
    height: 50px;
    
    border: 2px, solid #aaa;
    border: 4px;
    outline: none;
    padding: 8px 16px;
    box-sizing: border-box;
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
    
}
input[type=email]{
    width: 100%;
    height: 50px;
    
    border: 2px, solid #aaa;
    border: 4px;
    outline: none;
    padding: 8px 16px;
    box-sizing: border-box;
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
    
}
input[type=tel]{
    width: 100%;
    height: 50px;
    background-color:silver;
    
    border: 2px, solid #aaa;
    border: 4px;
    outline: none;
    padding: 8px 16px;
    box-sizing: border-box;
    border-color: #1e90ff;
    box-shadow: 0 0 8px 0 dodgerblue;
    
}


 .my-button{
    width: 50%;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(150, 223, 14);
}
.my-button:hover{
    background-color: rgba(119, 110, 110, 0.863);
}
.fas{
    font-size: 50px;
}
.room4{
   
    width: 600px;
   
}
.element{
    
    margin: 10px;
    
    display: flex;
    align-items: center;
    box-sizing: border-box;
    font-size: 15px;
    

    
}
.address{
    
    margin-left: 40px;
    padding: 20px;
}
.room h2{
    color: rgb(5, 204, 5);
}
.address h2{
    color: rgb(4, 194, 4);
}


