/* satrt of volunteer */
.best{
    width: 800px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}
.best p{
    width: 400px;   
}
.our h3{
    font-size: 25px;
    color: rgb(50, 134, 50);
}
.dhan{
   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    box-sizing: border-box ;
}
.binod{
    height: 560px;
    width: 320px;
    margin: 10px;
    
    
}
.binod h2{
    color: rgb(57, 204, 57);
}
.fab{
    font-size: 35px;
    padding: 5px;

}
/* End of Volunteer
     */
    

    
